
.header {
  backrground-color: $backContrast;
  border: 1px solid black;
}

div.main-container {
  padding: 10px;
  margin: 10px;
}

div.std-dev-input-form {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}
